SECRET_KEY = 'put your secret key here'
DEBUG =  0 / 1   # 0 False , 1 True
DB_ENGINE='put your DB ENGINE here'
DB_NAME='put your db name here'
POSTGRES_USER='put your db user here'
POSTGRES_PASSWORD='put your db password here'
DB_HOST='put your db host here'
DB_PORT='put your db port here'
ALLOWED_HOSTS = 'put your hosts here'